ul{
    margin: 0;
    padding: 0;
    list-style:none; 
}

section{
    padding: 20px 10px;
}

a {
    color: black; 
    text-decoration: none;
}

a:hover {
    color: #FF4444; 
    text-decoration: none;
}

.active{
    background: #FF4444;
}

form{
    border: 4px solid #9ABADD;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display:inline-block;
    max-width: 350px;
}

form input[type=text], form textarea, form input[type=submit]{
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    margin-bottom: 14px;
    width: 100%;
}

form span{
    display: block;
    text-align: left;
}

form input[type=submit]{
    width: 60%;
    margin: auto;
    display: inline;
}


header img{
    width: 100%;
}

.top_menu{
    background: linear-gradient(to top, #FCFBF7, #91B4DA);
}

.top_menu li{
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    padding: 0 20px 0 20px;
}


.top_menu li.active a:hover{
    color: #A2C0DF;
}

.top_menu a:hover{
    background-position: 50% 100%;
    color: #FF5A47;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

p{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 5%;
    text-align: justify;
}

.gallery img{
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}


.post {
    padding: 10px;
}

.post .title{
    margin-bottom: 20px;
}


.post .entry {
    text-align: justify;
}

.img-wrapper img{
   width: 100%;
   height: 100%;
   display: inline-block;
}

.img-wrapper{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.categories_bar{
    border: 4px solid #9ABADD;
    border-radius: 5px;
    padding: 30px 25px 30px 25px;
    line-height: 30px;
}

.categories_bar h2{
    text-align: center;
}

.feedback{
    text-align: center;
}


