ul{
    margin: 0;
    padding: 0;
    list-style:none; 
}

a {
    color: black; 
    text-decoration: none;
}

li.active a:hover{
    color: #A2C0DF;
}

a:hover {
    color: #FF4444; 
    text-decoration: none;
}

.active{
    background: #FF4444;
}


header img{
    width: 100%;
}

.top_menu{
    background: linear-gradient(to top, #FCFBF7, #91B4DA);
}

.top_menu li{
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.top_menu a:hover{
    background-position: 50% 100%;
    color: #FF5A47;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

p{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 5%;
    text-align: justify;
}

.figure {
    float: left;
    letter-spacing: 0.05em;
    line-height: 1.1;
    margin: 0 1% 1% 1%;	
    width: 31.3333%;	
}

.figure img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto 1em;
}

#col  {
    display: block;
    float: left;
    width: 45%;
    padding: 2.21%;
    list-style-type: none;
}

.inp{
    padding: 1%;
    border: 1px solid #E5E5E5;
    width: 50%;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.inp[name="name"], .inp[name="email"]{
    width: 30%;
}

.inp[name="theme"], .inp[name="message"]{
    width: 60%;
}

.inp[name="btn"]{
    background-color: #bde0ff;
    width: 20%;
}

.content-wrapper{
    padding: 20px 10px;
}

.post {
    padding: 10px;
}

.post .title{
    margin-bottom: 20px;
}


.post .entry {
    text-align: justify;
}

.img-wrapper img{
   width: 100%;
   height: 100%;
   display: inline-block;
}

.img-wrapper{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.categories_bar{
    border: 4px solid #9ABADD;
    border-radius: 5px;
    padding: 30px 25px 30px 25px;
    line-height: 30px;
}

.categories_bar h2{
    text-align: center;
}
